{% extends './base.html' %}
{% load static %}
{% block content %}

<!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
         
          <!-- ============================================================== -->
          <!-- Start Here -->
          <!-- ============================================================== -->
          <div class="row">

          </div>
        <!-- ============================================================== -->
        <!-- Stop Here  -->
        <!-- ============================================================== -->
      </div>

{% endblock %}