{% extends './base2.html' %}
{% load static %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area bg-9">
	<div class="container">
		<div class="page-title-content">
			<h2>Sign In</h2>
			<ul>
				<!-- <li>
					<a href="index-2.html">
						Home 
					</a>
				</li> -->
				
				<li>User</li>
				<!-- <li>Categories</li> -->
				<li class="active">Sign In</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Sign Up Area -->
<section class="user-area-all-style sign-up-area ptb-100">
	<div class="container">
		<div class="section-title">
			<h2>Create an account!</h2>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quas cumque iste veniam id dolorem deserunt ratione error voluptas rem ullam possimus placeat, ut, odio</p>
		</div>
		{% if msg %}
				<h3>{{msg}}</h3>
			{% endif %}

			{% if forms.errors %}
				{{form.errors}}
			{% endif %}
		<div class="contact-form-action">
			
			<form method="post" action="">
				{% csrf_token %}
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12">
						<button class="default-btn" type="submit">
							Google
						</button>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-12">
						<button class="default-btn" type="submit">
							Facebook
						</button>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-12">
						<button class="default-btn" type="submit">
							Twitter
						</button>
					</div>

					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<input class="form-control" type="text" name="first_name" placeholder="First Name">
						</div>
					</div>

					<div class="col-md-12 col-sm-12 ">
						<div class="form-group">
							<input class="form-control" type="text" name="last_name" placeholder="Last Name">
						</div>
					</div>

					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<input class="form-control" type="text" name="username" placeholder="Enter your Username">
						</div>
					</div>

					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<input class="form-control" type="email" name="email" placeholder="Email Address">
						</div>
					</div>

					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<input class="form-control" type="text" name="password" placeholder="Password">
						</div>
					</div>

					<div class="col-md-12 col-sm-12 ">
						<div class="form-group">
							<input class="form-control" type="text" name="confirm_password" placeholder="Confirm Password">
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 form-condition">
						<div class="agree-label">
							<input type="checkbox" id="chb1">
							<label for="chb1">
								I agree with Full Stars Blog
								<a href="{% url 'privacy' %}">Privacy Policy</a>
							</label>
						</div>

						<div class="agree-label">
							<input type="checkbox" id="chb2">
							<label for="chb2">
								I agree with Full Stars Blog 
								<a href="{% url 'terms' %}">Terms & Conditions</a>
							</label>
						</div>
					</div>

					<div class="col-12">
						<button class="default-btn btn-two" type="submit">
							Register Account
						</button>
					</div>
					
					<div class="col-12">
						<p class="account-desc">
							Already have an account?
							<a href="log-in.html"> Log In</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- End Sign Up Area -->

{% endblock %}